*{margin: 0;
padding: 0;}

.cabecalho {
    background-color: #05A1AB;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
padding: 24px 0;
font-size: 40px;
}

.cabecalho-lista-item {
   display: flex;
   margin: 16px 0;
   font-size: 24px;
}

.imagem-da-escola {
    width: 20%;
}

.escola {
    background-color: #81D0D5;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.escola-div-conteudo{
    width: 30%;
}